---
interface Props {
  title: string;
  description?: string;
}

const {
  title = "Dyallab | Your growth, engineered",
  description = "Dyallab helps businesses thrive with expert solutions in technology infrastructure, secure applications, efficient development, innovative AI, and custom software.",
} = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="/dyallab-logo.png" />
    <meta property="og:url" content={Astro.url.href} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
</style>
